{{ site.title }}
  
  
  


  
  
  
    
      {{ site.title }}
      
        
      
      
        
          About
          Education
          Research
          Leadership
          Expertise
        
      
    
  

  
  
    
      
      
      
        
        {{ site.title }}
        Operations & Supply Chain EngineerKUET IPE Graduate
        
        
          📍 Khulna, Bangladesh
          📧 {{ site.email }}
          🔗 LinkedIn
          💻 GitHub
          
          Download CV (PDF)
        
      

      
      
        {{ content }}
